.App {
  text-align: center;
}
.App.navbar{
  color: white;
}
.navbar {
  position: relative;
  padding: .5rem 1rem;
  opacity: .8
  ;
}
.navbar-nav{
  text-align: left;
}
#title-bootstrap{
  color:white;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
